---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="main-content-wrapper" style="padding-left: 20px; padding-right: 20px;">
      {{ content }}
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<script>
  window.MathJax = {
    tex: {
      inlineMath: [['\\(', '\\)']],
      displayMath: [['\\[', '\\]']],
      processEscapes: true,
      tags: 'none'
    },
    chtml: {
      scale: 1,         // base scale = 100%
      minScale: 0.75,   // prevent shrinking too small on phones
      matchFontHeight: true
    },
    options: {
      renderActions: {
        addMenu: [0, '', ''] // disables the right-click MathJax menu (optional)
      }
    }
  };
</script>
<script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
